@charset "UTF-8";
/**
 * YiMiXia.com
 * 2015-8-28
 */
#wrap{
height: 100%;
display: -webkit-box;
/*display: -webkit-flex;
display: flex;*/
-webkit-box-orient: vertical;
-webkit-flex-flow: column;
flex-flow: column;
}
/*
display: -moz-box;
display: -webkit-box;
display: box;
-moz-box-orient: horizontal;
-webkit-box-orient: horizontal;
box-orient: horizontal;
 */
/* default */
.bodyer{}

.header{ height: 50px; line-height: 50px; background: #18B4ED; color:#FFF; display: -moz-box;display: -webkit-box;display: box;-moz-box-orient: horizontal;-webkit-box-orient: horizontal;box-orient: horizontal;white-space:nowrap;word-break: keep-all;
}
.header .left,
.header .right,
.header .conter{-webkit-box-flex: 1;display: block; height: inherit; line-height: inherit;}
.header .conter{text-align: center;}
.header .right{ text-align: right; }
.header h1{ display: inline-block; font-size: 13pt; }
.header a.btns{ display: inline-block; width: 36px; height: inherit; line-height: inherit; text-align: center; color: #FFF; }
.header i{font-size: 18px;}

.header .headGroup{display: table; width: 100%; padding: 0 5px;}
.header .headGroup.heng{ padding: 0; display: -webkit-box;-webkit-box-orient:horizontal; height: 40px; line-height: 40px; }
.header .headGroup.heng .item{ display: block; -webkit-box-flex:1;text-align: center; background: #EFEFEF;border-bottom: 1px solid #DFDFDF;}
.header .headGroup.heng .item h2{ display: inline-block; }
.header .headGroup.heng .item.active{ background: #FFF; border-bottom: none; }

.header .headGroup .headNav{ display: -webkit-box;-webkit-box-orient:horizontal;}
.header .headGroup .headNav .item{-webkit-box-flex:1; display: block; height: 40px; line-height: 40px;color: #FFF;}
.header .headGroup .headNav .item.active{ background: rgba(0,0,0,0.1); border-radius: 5px; }


.mainer{-webkit-box-flex:1;
overflow: hidden; overflow-y: auto;
}


.footer{ height: 50px; line-height: 50px; border-top: 1px solid #EFEFEF; background: #FFF; overflow: hidden;
display:-moz-box;
display:-webkit-box;
display:box;
-moz-box-orient:horizontal;
-webkit-box-orient:horizontal;
box-orient:horizontal;
}
.footer .item{ color: #AFAFAF; display: block; width: 33.33%; text-align: center; line-height: 25px; }
.footer .item i{ display: block; height: 25px; line-height: 35px; font-size: 20px; }
.footer .item i.y{ display: none; }
.footer .item.active { color: #18B4ED; }
.footer .item.active i.y{ display: block; }
.footer .item.active i.n{ display: none; }
.footer .item h2{ height: 25px; line-height: 22px; }

.btnGroup{ display: inline-block; height: 30px; line-height: 30px; border:1px solid #FFF; border-radius: 50px; margin-top: 10px; overflow: hidden;}
.btnGroup a.btns{ padding: 0 5px;}
.btnGroup a.btns:first-child{padding: 0 50px 0 20px;}
.btnGroup a.btns:last-child{padding: 0 50px 0 20px;}
.btnGroup a.btns.active{ background: #FFF; color: #18B4ED;}

/* input in mi style */
.form-ul li{ margin-bottom: 15px; position: relative;}
.form-ul li:after {content: "\0020";display: block;clear: both;}
.form-loo{ display: block; border: 1px solid #CCC; background: #FFF; }
.form-loo .input-label{display: inline-block; width: 30px; text-align: right; }
.form-loo input.input{border: none; background: #FFF; font-size: 14px; height: 36px; line-height: 36px; padding: 0px 10px; width: 229px;}
.form-ul li.bortop{ border-top: 1px solid #EFEFEF; padding-top: 15px;}


i.gray{ color: #9F9F9F; }
i.blue{ color: #64BEFD; }
i.green{ color: #65C000; }
i.violet{ color: #DC38AB; }
i.orange{ color: #FF6100; }
i.reg{ color: #FF0000; }
/*
form
 */
/* form checkbox */
.formItem.check { cursor: pointer; }
.formItem.check .icon{ width: 50px; }
.formItem.check .icon i{ color: #68BF01;}
.formItem.check .icon i.y{ display: none; }
.formItem.check .inputbox{ padding-right: 20px; }
.formItem.check .inputbox b{ float: right; color: #FF6100; font-weight: bold; }
.formItem.check.active{ border-color: #DFDFDF; }
.formItem.check.active .icon i{ color: #68BF01; }
.formItem.check.active .icon i.n{ display: none; }
.formItem.check.active .icon i.y{ display: inline-block; }

/* regbox */
.form-section{ position: relative; display: block; border: 1px solid #CCC; background: #FFF;}
.form-section .input-label{position: absolute;left: 12px;top: 11px;z-index: 2;padding: 0 3px;font-size: 14px;line-height: 18px;color: #b0b0b0;background: transparent;cursor: text;-webkit-transition: all 0.2s linear;transition: all 0.2s linear;white-space:nowrap; width: auto;}
.form-section span.tip,
.form-loo span.tip{position: absolute;right: 5px;line-height: 36px;color: #999; font-size: 12px; color: #FFF;}
.form-section span.tip sup,.form-loo span.tip sup{ vertical-align: super;}
.form-section input.input{border: none; background: #FFF; font-size: 14px; height: 36px; line-height: 36px; padding: 5px 15px; width: 100%;}
.form-section textarea.input{ height: auto; width: 100%; border: none;resize: none;padding: 10px 16px; margin-top: 5px;}
.form-section select.input{ height: auto; width: 100%; border: none; background: #FFF; font-size: 14px; height: 36px; line-height: 36px; padding: 5px 15px; border-radius: 5px;}
.form-section.curr select.input{ padding: 5px 15px 5px 50px;}

.form-section.tow input.input{ width: 50%;}
.form-section.tow a.btn{ width: 50%; float: right; height: 36px; line-height: 36px; font-size: 14px;}
.form-section .code{color: #4C8EFF;}
.form-section .code.out{ color: #999;}

.form-section-tow.one{ margin-right: 4%}
.form-section-tow{ width:48%; float: left; }
.form-section-tow.w1{ width: 8%;}
.form-section-tow.w2{ width: 18%;}
.form-section-tow.w3{ width: 28%;}
.form-section-tow.w4{ width: 38%;}
.form-section-tow.w5{ width: 48%;}
.form-section-tow.w6{ width: 58%;}
.form-section-tow.w7{ width: 68%;}
.form-section-tow.w8{ width: 78%;}
.form-section-tow.w9{ width: 88%;}
.form-section-tow.w10{ width: 100%;}

/* placeholder */
.form-section .placeholder::-webkit-input-placeholder { color:#FFF; }
.form-section .placeholder::-moz-placeholder { color:#FFF; }
.form-section .placeholder:-ms-input-placeholder { color:#FFF; }
/* placeholder end */

.form-active.hover{ border-color: #AAA;}
.form-active.focus { border-color: #09F;}
.form-active.focus  .input-label{ border-color: #09F; color: #09F;}
.form-active.active .input-label{ top: -10px;background: #FFF;}
.form-active.focus  .input-label,
.form-active.active .input-label{ font-family: sans-serif; font-size: 12px;}

.form-loo.active span.tip,
.form-active.active span.tip{ color: #CCC; }
.form-loo.hover span.tip,
.form-active.hover span.tip{ color: #999;}
.form-loo.focus span.tip,
.form-active.focus span.tip{ color: #09F; }

/* placeholder active */
.form-active.active .input::-webkit-input-placeholder { color:#CCC; -webkit-transition: all 0.4s linear;transition: all 0.4s linear;}
.form-active.active .input::-moz-placeholder { color:#CCC; -webkit-transition: all 0.4s linear;transition: all 0.4s linear;}
.form-active.active .input:-ms-input-placeholder { color:#CCC; -webkit-transition: all 0.4s linear;transition: all 0.4s linear;}
/* placeholder active end */
/* regbox end */


/* house */
.house sup{ vertical-align: super; font-size: 12px; }
/* list */
.Hul{ padding: 0px 0; }
.Hul li{ padding: 8px 0px; border-bottom: 1px solid #DFDFDF; border-left: none; border-right: none;white-space:nowrap;}
.Hul li.nos{ border: none; }
.Hul li div.cont,.Hul li div.side{}
.Hul li div.cont{-webkit-box-flex:2; padding:0 10px;}
.Hul li div.cont h2{ color: #3F3F3F; font-size: 16px; margin-bottom: 5px; }
.Hul li div.cont h2 b{ font-weight: normal; }
.Hul li div.cont div.span{display: -webkit-box;-webkit-box-orient: horizontal;}
.Hul li div.cont div.span span{ display: block;-webkit-box-flex: 1; width: 25%; color: #808080; }
.Hul li div.cont div.span div{-webkit-box-flex: 1; width: 25%;}
.Hul li div.side { float: right; width: 40px; line-height: 46px; text-align: center; }
.Hul li div.side a{ display: block; height: inherit; line-height: inherit; color:#CFCFCF;}




.citys{}
.citys .mainer{ background: #F6F6F6; }
.cityList{}
.cityList li{ margin: 3pt 5pt; display: block; background: #FFF; border: 1px solid #EEE; border-radius: 3px; }
.cityList li a{ display: block;padding: 8pt 10pt; }



.search{}
.search .header .inputbox{ display: block; height: inherit; line-height: inherit; }
.search .header .inputbox input.input{ background: none;border:none; padding: 0 10px; color: #FFF; border-bottom: 1px solid #FFF; }


/*
house
 */
.house .header .imgbox{ float: left; display: block; width: 30px; height: 30px; line-height: 30px; border-radius: 100px; overflow: hidden; margin-right: 15px;margin-top: 11px; margin-left: 10px; }
.house .header .imgbox img{    width: 100%;  height: auto;}
/* house details */
.house.details{ font-size: 14pt; }
.house.details .mainer{ background-color: #F6F6F6; }

.house.details .mainer .item{ padding: 10pt; margin: 5px; margin-left: 0; margin-right: 0; background-color: #FFF; border-top: 1px solid #EEE;  border-bottom: 1px solid #EEE;}
.house.details .mainer .item:first-child{ margin-top: 0; border-top: 0; }
.house.details .mainer .title{ padding: 10px; padding-bottom: 0; }
.house.details .mainer .title i{ font-size: 13pt; }

.house.details .mainer .lists{ font-size: 13pt; }
.house.details .mainer .lists li:after {content: "\0020";display: block;height: 0;clear: both;}
.house.details .mainer .lists li{ border-bottom: 1px solid #EEE; padding: 10px 0; }
.house.details .mainer .lists li:first-child{ padding-top: 0; }
.house.details .mainer .lists li:last-child{ border:0;}

.house.details .mainer .hList{}
.house.details .mainer .hList li{ width: 48%; display: inline-block; padding-top: 5pt; padding-bottom: 5pt; }
.house.details .mainer .hList li.block{ width: 100%; }
.house.details .mainer .hList li span{ display: inline-block; width:40pt; color: #999; text-align: right; padding-right: 5pt;}
.house.details .mainer .hList li i.iconfont{ font-size: 18pt; color: #18B4ED; }
.house.details .mainer .htime{ font-size: 11pt; color: #999; padding-top: 12px; }

.house.details .mainer .gjList .lists .fc{ margin-left: 50px; }
.house.details .mainer .gjList .lists .gjTit h1{ color: #555; padding-bottom: 5pt; }
.house.details .mainer .gjList .lists .gjTit b{ display: block; font-size: 11pt; padding-bottom: 5pt; color: #888; }
.house.details .mainer .gjList .lists p{ color: #000; }
.house.details .mainer .gjList .lists .imgbox{ display: block; width: 40px; height: 40px; line-height: 40px; overflow: hidden; border-radius: 50px; }
.house.details .mainer .gjList .lists .imgbox img{ display: block; width: 100%; }

.house.details .footer{ height: auto; line-height: 100%; border:none; background:#FFF; -moz-box-orient:vertical;-webkit-box-orient: vertical;box-orient: vertical;}
.house.details .footer .item{ width: 100%; display: -moz-box;display: -webkit-box;display: box;-moz-box-orient: horizontal;-webkit-box-orient: horizontal;box-orient: horizontal;white-space:nowrap;word-break: keep-all;}
.house.details .footer .nos{ display: block; border-top: 1px solid #EEE; padding: 10px; color: #F00; text-align: center; }
.house.details .footer .option { border-top: 1px solid #EEE; }
.house.details .footer .option label{ display: block; -webkit-box-flex: 1; text-align: center; border:none; border-left: 1px solid #EEE; height: 36pt; line-height: 36pt; }
.house.details .footer .option label:first-child{ border-left: none; }
.house.details .footer .entered{ border-top: 1px solid #EEE;}
.house.details .footer .entered .inputbox{-webkit-box-flex: 10; padding: 5pt 10pt; max-height: 60pt; line-height: 26pt; overflow: hidden; overflow-y: auto; text-align: left;}
.house.details .footer .entered .btns{ display: block; width: 60px;-webkit-box-flex: 0; text-align: center; line-height: 35pt; background: #18B4ED; color: #FFF }





/* 
user
 */
.user.side{ background: #333; }
.user.side .header{ height: auto; line-height: 1.5em; padding: 15px; background: none; }
.user.side .header .imgbox{ float: left; display: block; width: 80px; height: 80px; line-height: 80px; border-radius: 100px; overflow: hidden; margin-right: 15px; }
.user.side .header .imgbox img{    width: 100%;  height: auto;}
.user.side .header .uText{ padding-top: 6px; }
.user.side .mainer { padding:10px 20px; }
.user.side .mainer .mList{  }
.user.side .mainer .mList li a{ display: block; padding: 10px; font-size: 13pt; color: #FFF; }
.user.side .mainer .mList li a i{ font-size: 18pt; }
.user.side .mainer .mList li a i.fr{ float: none; font-size: 12pt;vertical-align: middle; }
.user.side .mainer .mList li a span{ color: #999; padding-left: 10px; font-size: 12pt; display: inline-block;  }

.user.side .footer{ background: none; border-top-color: #222; }
.user.side .footer .item a{ color: #FFF;}









/* 
work
 */
/* work */
.work .mainer {background-color: #F6F6F6;}
.work .mainer .item{ padding: 10pt; margin: 5px; margin-left: 0; margin-right: 0; background-color: #FFF; border-top: 1px solid #EEE;  border-bottom: 1px solid #EEE;}
.work .mainer .item:first-child{ margin-top: 0; border-top: 0; }
.work .mainer .title{ padding: 10px; padding-bottom: 0; }
.work .mainer .title i{ font-size: 13pt; }

.workList:after {content: "\0020";display: block;height: 0;clear: both;}
.workList li{ display: inline-block; float: left; text-align: center; margin:5px 5px 5px 5px; }
.workList li.default span{ background: #9F9F9F; }
.workList li.blue span{ background: #64BEFD; }
.workList li.green span{ background: #65C000; }
.workList li.violet span{ background: #DC38AB; }
.workList li.orange span{ background: #FF6100; }
.workList li.reg span{ background: #FF0000; }

.workList.big li span{ display: block; width: 54pt; height: 54pt; line-height: 54pt;  color: #FFF; border-radius: 15px;}
.workList.big li span,
.workList.big li i.iconfont{ display: block; font-size: 26pt;}
.workList.big li i.fr{ display: none; }
.workList.big li strong{ display: block; padding-top: 5px; font-size:13pt; }

.workList.small li span{display: block; width: 40pt; height: 40pt; line-height: 40pt; color: #FFF; border-radius: 15px;}
.workList.small li span,
.workList.small li i.iconfont{ display: block; font-size: 20pt;}
.workList.small li i.fr,
.workList.small li strong{ display: none; }

.workList.list li { display: block; float: none; text-align: left; line-height: 20pt; margin: 0; padding: 10pt 0; border-top: 1px solid #EEE;}
.workList.list li:first-child{ padding-top: 0; border:none; }
.workList.list li span{ display: inline-block; text-align: center; width: 26pt; height: 26pt; line-height:26pt; color: #FFF; border-radius: 5px; margin-right: 10px;}
.workList.list li i.iconfont{ font-size: 16pt; }
.workList.list li i.fr{ color: #CCC; height: 26pt; line-height: 26pt}
.workList.list li strong{ display:inline-block; font-size: 14pt; }









