.clearfix:after { content:'\20'; display:block; height:0; clear:both; }


.bubble { 
    margin:0px auto;
    font:12px/1.5 \5b8b\4f53,arial,sans-serif;
}
.chat { 
    margin-bottom:20px; 
    padding-left:50px; 
    position:relative; 
    padding-top: 20px;
}

.triangle {
    position:absolute;
    top:25px;
    margin-top:2px;
    left:42px;
    display:block;
    width:0;
    height:0;
    overflow:hidden;
    line-height:0;
    font-size:0;
    border-bottom:8px solid #FFF;
    border-top:8px solid #FFF;
    border-left:none;
    border-right:8px solid #3079ED;
}

.chat .article { 
    float:left;
    color:#FFF; 
    display:inline-block; 
    *display:inline; zoom:1; 
    padding:5px 10px; 
    border:1px solid #3079ED; 
    background:#eee; 
    border-radius:5px;  
    background-color: #4D90FE;
    background-image:-webkit-gradient(linear,left top,left bottom,from(#4D90FE),to(#4787ED));
    background-image:-webkit-linear-gradient(top,#4D90FE,#4787ED);
    background-image:-moz-linear-gradient(center top , #4D90FE, #4787ED);
    background-image:linear-gradient(top,#4D90FE,#4787ED);
    white-space: pre;
}

.fr { padding-left:0px; padding-right:50px; }

.fr .triangle { 
    left:auto;
    right:42px;
    border-bottom:8px solid #FFF;
    border-top:8px solid #FFF;
    border-right:none;
    border-left:8px solid #3079ED;
}

.fr .article { 
    float:right;

}



