<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rewriteMaps>
        <rewriteMap name="/">
          <add key="/" value="/public/chushou.jsp" />
        </rewriteMap>
      </rewriteMaps>
      <rules>
        <rule name="重定向规则1 对于 /">
          <match url=".*" />
          <conditions>
            <add input="{/:{REQUEST_URI}}" pattern="(.+)" />
          </conditions>
          <action type="Redirect" url="{C:1}" appendQueryString="false" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <system.web>
    <httpRuntime maxRequestLength="102400"/>
  </system.web>
</configuration>
