@charset "UTF-8";
html,body{ position: relative; width: 100%; height: 100%; overflow: hidden;}
body{background-color: #FFF;color: #565656;font: 14px/1.5em 'Microsoft Yahei',"微软雅黑","黑体";-webkit-font-smoothing: antialiased;}
@font-face {font-family: 'iconfont';
    src: url('iconfont/iconfont.eot'); /* IE9*/
    src: url('iconfont/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('iconfont/iconfont.woff') format('woff'), /* chrome、firefox */
    url('iconfont/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('iconfont/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}
.alpha60 { /* Fallback for web browsers that doesn't support RGBa */ background: rgb(0, 0, 0); /* RGBa with 0.6 opacity */ background: rgba(0, 0, 0, 0.6); /* For IE 5.5 - 7*/ filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000); /* For IE 8*/ -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)"; } 
* .mh {
-webkit-backface-visibility: hidden;
-webkit-filter: blur(10px); /* Chrome, Opera */
-moz-filter: blur(10px);
-ms-filter: blur(10px);   
filter: blur(10px);  
filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=10, MakeShadow=false); /* IE6~IE9 */
-webkit-transition:all .151111s;
}
.wbox{ width: 960px; margin: 0 auto; position: relative;}
.PT30{  padding: 30px 0 0 0;}
.backgray{ background: #F2F2F2;}

/* DIV Table */
.table{ display: table;  border-collapse:separate; margin:0;}
.tr {display:table-row;}
.tr>.td {display:table-cell; vertical-align: top;}
.tbody{display:table-cell;}
.table_box{ height: 100%;}

.TableH{ font-size: 14px;white-space:nowrap;}
.TableB{ text-align: center;white-space:nowrap;}

.TableB .br_area{ text-align: left; width:200px; min-width:50px; }
.TableB .br_addr{ text-align: left; padding-left: 8px;}
.TableB .hiddens{ display: none;}
.TableB tr{ position: relative;}

.table-hover{}
.table-hover .Detailed{ display: ; position: absolute; border: 1px solid #CCC; background: #FFF; padding: 10px; line-height: 1.8em;}
.table-hover .Detailed .iconSJT{ position: absolute;border: 10px solid transparent; border-bottom-color:#09F;content: ' '; }
.table-hover .Detailed:after, .table-hover .Detailed:before {border: solid transparent;content: ' ';height: 0;left: 100%;position: absolute;width: 0;}
.table-hover .Detailed:after {border-width: 9px;border-bottom-color: #FFF;left: 15px;top: -18px;}
.table-hover .Detailed:before {border-width: 10px;border-bottom-color: #CFCFCF;left: 14px;top: -20px;}

body{}
.bodyer{ position: relative; height: 100%;}
.header{ position: absolute; top: 0; right: 0; left: 0;z-index: 190;
 background: url('../images/headbg.jpg') no-repeat top center;
/*background: url('http://i-7.vcimg.com/trim/b58c65fee660b17f43daef6fba91ce295529937/trim.jpg') no-repeat top right;*/ background-size: 100% auto;background-color: #2CC2FF;}
.mainer{ position: absolute; top: 100px; right: 0; bottom: 60px; left: 0; background: #FFF; overflow-y: auto;}
.footer{ position: absolute; right: 0; bottom: 0; left: 0; background: #FFF; border-top: 1px solid #CCC; height: 36px; line-height: 36px;}

.bodyer .wrap{ margin: 0 auto; width: 90%; min-width: 1002px;}
.toper { background: #09F; background: none; box-shadow: 0 0 10px #000; margin-bottom: 10px;
background:rgba(0,0,0,0.1);
filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#22000000,endcolorstr=#22000000);

}
.toper .wrap{ height: 50px; line-height: 50px;/* text-shadow: 0px 0px 4px #000;*/}
.logobox{display: inline-block; font-size: 16px; line-height: 500px; overflow: hidden; height: 50px; width: 120px; background: url('../images/logo.png') no-repeat left center; vertical-align: middle;}
.ablogo,.ablogos{ text-align: center;}
.ablogo{ padding-top: 20px;}
.ablogos b{ font-size: 18px; color: #09F;}



.classTab{ display: inline-block; margin-left:30px;}
.classTab li{ display: inline-block;}
.classTab li a{display: block; padding: 0 15px; font-size: 16px; color: #FFF;}
.classTab li.active{
 background:rgba(255,255,255,0.4);
filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#22FFFFFF,endcolorstr=#22FFFFFF);
color: #555;
}
.classTab li.active a{ color:#09F; color: #555; position: relative;}


.classTab li.active a:after, .classTab li.active a:before {border: solid transparent;content: ' ';height: 0;left: 100%;position: absolute;width: 0;}
.classTab li.active a:after {border-width: 9px;border-bottom-color: #FFF;left: 37px;bottom: -0px;}
.classTab li.active a:before {border-width: 10px;border-bottom-color: #FFF;left: 36px;bottom: -0px;}

.pageList{}
.pageList li{ display: inline-block;}
.pageList li a{ display: block; padding: 0 10px; font-weight: bold; font-size: 16px;}
.pageList li a:hover{ background: #49B6FF; color: #FFF;}
.pageList li.active a{ background: #09F; color: #FFF;}

.UList{ display: inline-block;}
.UList li{ display: inline-block; position: relative;}
.UList li strong{ padding: 0 15px; font-size: 14px; display: block; color: #FFF; cursor: pointer; height: 36px; line-height: 36px; border-radius: 5px; 
}
.UList li .ULbox{ display: none; position: absolute; right: 0; z-index: 98; line-height: 1.5em;  background: #FFF; border: 1px solid #EEE; border-top: 0; border-radius: 0 0 2px 2px;
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#b2b2b2')";
-moz-box-shadow: 1px 1px 2px #EEE;
-webkit-box-shadow: 1px 1px 2px #EEE;
box-shadow: 1px 1px 2px #EEE;

-moz-box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
-webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
/* For IE 8 */
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
/* For IE 5.5 - 7 */
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}
.UList li.HV a.btn:hover strong{ margin-bottom: 0px; z-index: 99;position: relative; border: none; 
 background:rgba(255,255,255,0.5);
filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#22FFFFFF,endcolorstr=#22FFFFFF); color: #555;
}
.UList li.active {
 background:rgba(255,255,255,0.5);
filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#22FFFFFF,endcolorstr=#22FFFFFF); }
.UList li.active strong{  margin-bottom: 0px; z-index: 99;position: relative; border: none; color: #555; }
.UList li.active .ULbox{ display: inline-block; }

.UList li.active strong:after {border: solid transparent;content: ' ';height: 0;left: 100%;position: absolute;width: 0;border-width: 9px;border-bottom-color: #FFF;left: 37%;bottom: -0px;}

.UList li.cuurent strong{ background: #09F; color: #FFF;}
.UList li.cuurent a.btn:hover strong{ background:#0AF; color: #FFF;}


.search{ padding: 10px;}
.search .wrap{ padding-bottom: 10px; width: 810px; min-width: 810px;}
.search .wrap:after {content: "\0020";display: block;clear: both;}
.searchItem{ float: left; background: #FFF; border-radius: 3px; height: 36px; line-height: 34px; padding: 0; margin-right: 5px; position: relative;
-moz-box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
-webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}
.searchItem input.input{ border: none; height: inherit; line-height: inherit; padding: 0 10px; width: 100%; border-radius: inherit;
}
.searchItem strong{ padding: 0 15px;height: inherit;display: block;line-height: 36px; font-weight: normal;}
.searchItem .more{ position: absolute; left: 0; background: #FFF; z-index: 9;border-radius: 3px;white-space:nowrap; overflow: hidden; height: 0;
-moz-box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
-webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}
.searchItem .more label{ display: block; padding:0 5px; }
.searchItem i.iconfont{ font-size: 12px;}
.searchItem .more .btnbox{ display:none; border-bottom: 1px solid #DFDFDF;}
.searchItem .more .btnbox:after {content: "\0020";display: block;clear: both;}
.searchItem .more .btnbox a{ display: inline-block; float: left; width: 33%; text-align: center; height: 26px; line-height: 26px;}
.searchItem .more .btnbox a.bor{ border-left: 1px solid #DFDFDF; border-right:  1px solid #DFDFDF;}

.searchItem label.inputTit{ float: left; padding: 0 5px 0 10px; background: #EFEFEF; border-radius: 3px 0 0 3px; color: #555;    height: inherit;}
.searchItem .inputBox{ float: left; width: 40px;height: inherit;border-radius: inherit;}
.searchItem .inputBox input.input{ padding: 0 5px;border-radius: inherit;}
.searchItem .inputLab{ float: left;}
.searchItem .tipas{ position: absolute; right: 5px; color: #CCC;}


.searchItem.hover em{ display: inline-block; transform:rotate(180deg);-webkit-transform:rotate(180deg);}
.searchItem.hover .more{ height: auto; padding: 10px 0;}
.searchItem .more label.hover{ background: #09F; color: #FFF;}


.searchItem.w15 .inputBox{ width: 58px;}
.searchItem.w20 .inputBox{ width: 52.5px;}




.search .btns{ float: left; display: inline-block; padding: 0px;width:60px; background: #FFF; height: 36px; line-height: 36px;border-radius: 3px; margin-right: 5px;}
.search a.btn.search{ background: #09F; color: #FFF;border: 1px solid #08F; margin-right: 0; border-radius: 3px}
.search a.btn.empty{ background: #EFEFEF; color: #666;border: 1px solid #BFBFBF; border-radius: 3px;margin-right:0;}

.autoTexts{ position: absolute; left: 0; overflow: hidden;}



/**
 * Simplecomplete
 */

.gray{color:gray;}
.autoTexts {background:#fff;position:absolute;z-index:10000;display:none;}
.autoTexts ul{margin:0;padding:0;list-style:none;}
.autoTexts li a{white-space:nowrap;text-decoration:none;display:block;color:#05a;padding:1px 3px;}
.autoTexts li{border:1px solid #fff;}
.ac_over,.autoTexts li a:hover {background:#c8e3fc;}
.autoTexts li a span{float:right;}
.autoTexts_tip{border-bottom:1px dashed #666;padding:3px;}

.autoTexts{width:300px; border-radius: 0  3px 3px 3px;
-moz-box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
-webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');}


.searchLine{
 background:rgba(255,255,255,0.5);
filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#22FFFFFF,endcolorstr=#22FFFFFF);}
.searchLine .wrap{ height: 16px; line-height: 16px;}






.tableHeader{
 background:rgba(255,255,255,0.5);
filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#22FFFFFF,endcolorstr=#22FFFFFF);}
.tableHeader .tableList tr{ border: 0;}
.tableList{ width: 100%;}
.tableList tr{ border: 1px solid #f2f2f5;}
.tableList th{ height: 40px; line-height: 40px;}
.tableList td{ height: 36px; line-height: 36px;}

.tableList2{ width: 100%;}
.tableList2 tr{ border: 1px solid #f2f2f5; border-left: 0; width: 60%; overflow: hidden;
}
.tableList2 th,.tableList2 td{ height: 36px; line-height:1.7em; text-align: left; padding: 10px 0 10px 10px;white-space:nowrap;}
.tableList2 td{width: 20%;}

.tableList2 tr.a0{ border-left: 3px solid #FF5555;}
.tableList2 tr.a1{ border-left: 3px solid #FF9455;}
.tableList2 tr.a2{ border-left: 3px solid #a2c15f;}
.tableList2 tr.a3{ border-left: 3px solid #00C8AF;}
.tableList2 tr.a4{ border-left: 3px solid #00B2F8;}
.tableList2 tr.a5{ border-left: 3px solid #BC78FF;}
.tableList2 tr.a6{ border-left: 3px solid #FF78E1;}

.tableList2 tr.hover{ border-left-width: 7px;}
.tableList2 tr.hover .bhao{ display: inline;}

.tableList2 h2 {font-size: 20px; display: block; color: #2A8AE1;}
.tableList2 h2 i.no{ color: #CCC;}
.tableList2 h2 i.my.no{display: none;}
.tableList2 h2 i.my{ color:inherit;}
.tableList2 p{/* font-family: '宋体';*/ font-size: 14px; color: #777; }
.tableList2 .bhao{ display: none;/*font-family: '宋体';*/ font-size: 14px; color: #999;}
.tableList2 .ztai{ font-family: '宋体'; font-size: 12px; color: #999; display: none;}
.tableList2 .dz{ color: #999;}
.tableList2 .zjia b{ font-size: 18px; color: #D71208; font-family: 'microsoft yahei','黑体'; font-weight: ; font-size: 25px; letter-spacing: -2px;}

.tableList2 .zjia{ }
.tableList2 p.kong{ display: block;height: 26px;}
.tableList2 p.xq { padding: 5px 0;}
.tableList2 p.xq span{ display: inline-block; width: 110px; font-size: 16px; font-weight: normal;color: #444;}
.tableList2 .time{ color: #999;}



.ContactUs{ padding: 10px; width: 350px;}
.ContactUs .ewm{ display: inline-block; width: 132px; margin-right: 10px;vertical-align: top;}
.ContactUs .ewm span{ display: block; text-align: center;}
.ContactUs .lx{ display: inline-block;}
.ContactUs .lx li{ display: block; margin-bottom: 3px;}
.ContactUs .lx li a{ }
.ContactUs .lx li.zhanwei{ padding-left: 70px; }


/* SwitchCity */
.SwitchCity{ position: relative; display: inline-block; color: #FFF; margin-left: 30px; display: none;}
.SwitchCity dt{ background:rgba(255,255,255,0.3);
filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#22FFFFFF,endcolorstr=#22FFFFFF); height: 36px;line-height: 36px;border-radius: 5px;color: #FFF;}
.SwitchCity dt strong{ padding: 0 15px; font-size: 14px; display: block;  cursor: pointer;}
.SwitchCity dd{ position: absolute; left: 0; right:0; z-index: 99; background: #1AF; display: none; line-height: 20px; padding: 2px;}
.SwitchCity dd a{ display: block; font-size: 14px; height: 30px; line-height: 30px; text-align: center; color: #FFF;}
.SwitchCity dd a:hover{ background: #FFF; color: #555;}
.SwitchCity.active dt{ background:rgba(255,255,255,0.9);
filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#22FFFFFF,endcolorstr=#22FFFFFF); border-radius: 5px 5px 0 0 ; color: #555; }
.SwitchCity.active dd{ background:rgba(255,255,255,0.9);
filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#22FFFFFF,endcolorstr=#22FFFFFF);border-radius: 0 0 5px 5px;}
.SwitchCity.active dd a{ color: #555;}

.SwitchCityBtn{ display: inline-block; padding: 0 15px; margin-left: 30px; background:rgba(255,255,255,0.3);
filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#22FFFFFF,endcolorstr=#22FFFFFF); height: 36px;line-height: 36px;border-radius: 5px;color: #FFF;}


.citybox{ padding: 30px;}
.citybox li{ width: 32%; text-align: center; display: inline-block; margin-bottom:5px;}
.citybox li a{ display: block; height: 50px; line-height: 50px;background: #EFEFEF; color: #555;  position: relative;}
.citybox li a i{ position: absolute; right: 5px; bottom: -5px; line-height: normal; font-size: 26px;}
.citybox li a:hover{background: #09F; color: #FFF;}
.citybox li.active a{background: #09F; color: #FFF;}

html .toper{*height: 50px;*line-height: 50px;}
html .logobox{*float: left;*background-position:;}
html .classTab{*float: left;}
html .classTab li{*float: left;}
html .SwitchCityBtn{*float: left;*margin-top: 7px;}
html .UList {*position: relative;}
html .UList li{*float: left;*margin-top: 7px;*position: static;}
html .searchItem{*float: left; width: 167px;*width: 147px;*padding: 0 10px;}
html .searchItem.selects{width: 76px;*width: 76px; *position: relative;
*z-index: 199;*padding: 0;}
html .searchItem label.inputTit{height: 36px; line-height: 36px;}
html .searchItem.hover .more{ *overflow: visible;}
html .searchItem .inputBox input.input{*padding:0;* text-align: center;}
html .searchItem input.input{
font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
height:35px\9;height:35px\0;
vertical-align: top\0;
/*padding-top:10px\0;*/
*line-height:35px;*padding:0;}
html .citybox li{*float: left;*margin-right: 5px;}
html .ContactUs .ewm{*float: left;}
html .ContactUs .lx{*float: left;}
html .searchItem.w15{*padding: 0;width:167px\0;*width: 167px;}
html .searchItem.w15 .inputBox{width:58px\0;*width: 53px;}
html .searchItem.w20 {width: 157px;width:157px\0;*width: 161px;*padding: 0;}
html .searchItem .inputLab{*padding: 0 5px;}
html .searchItem.w20 .inputBox{*width:49px;width:51px\0;}


html .pageList li{ float: left;}








html .layui-layer {border: 1px solid #FFF;border-radius: 5px;overflow: hidden;}
html .layui-layer-title{ border: none; background: #FFF;}
html .layui-layer-setwin { top: 0; right: 0; }
html .layui-layer,
html .layui-layer-setwin a{-webkit-transition: all .0s;}
html .layui-layer-setwin .layui-layer-close1 {width: 45px;height:29px;background-position: -0px -80px;}
html .layui-layer-setwin .layui-layer-close1:hover{background-position: -45px -80px;}
html .layui-layer-btn {padding: 5px; text-align: right;}
html .layui-layer-btn a{font-weight: normal;border: 1px solid #69BCEE;height: 26px;line-height: 26px; text-align: center; border-radius: 2px;}




.btn{ display: block; font-size:16px; text-align: center;/* background: #CFCFCF;  color: #000;*/ height: 44px; line-height: 44px; }
/*.btn:hover{ background: #DFDFDF; color: #333;}*/
.btn.blue{ background: #3f89ec; color: #FFF;}
.btn.blue:hover{ background-color: #4490f7;}
/**
 * login and reg
 */
.loginbox,.regbox{ padding: 30px 20px;}

/* loginbox */
.form-ul li{ margin-bottom: 15px; position: relative;}
.form-ul li:after {content: "\0020";display: block;clear: both;}
.form-loo{ display: block; border: 1px solid #CCC; background: #FFF; }
.form-loo .input-label{display: inline-block; width: 30px; text-align: right; }
.form-loo input.input{border: none; background: #FFF; font-size: 14px; height: 36px; line-height: 36px; padding: 0px 15px; width: 229px;}
.form-ul li.bortop{ border-top: 1px solid #EFEFEF; padding-top: 15px;}



/* regbox */
.form-section{ position: relative; display: block; border: 1px solid #CCC; background: #FFF;}
.form-section .input-label{position: absolute;left: 12px;top: 11px;z-index: 2;padding: 0 3px;font-size: 14px;line-height: 18px;color: #b0b0b0;background: transparent;cursor: text;-webkit-transition: all 0.2s linear;transition: all 0.2s linear;white-space:nowrap; width: auto;}
.form-section input.input{border: none; background: #FFF; font-size: 14px; height: 36px; line-height: 36px; padding: 5px 15px; width: 100%;}
.form-section textarea.input{ height: auto; width: 100%; border: none;resize: none;padding: 10px 16px; margin-top: 5px;}
.form-section select.input{ height: auto; width: 100%; border: none; background: #FFF; font-size: 14px; height: 36px; line-height: 36px; padding: 5px 15px; }
.form-section.curr select.input{ padding: 5px 15px 5px 50px;}

.form-section.tow input.input{ width: 50%;}
.form-section.tow a.btn{ width: 50%; float: right; height: 36px; line-height: 36px; font-size: 14px;}
.form-section .code{color: #4C8EFF;}
.form-section .code.out{ color: #999;}

 .form-section-tow.one{ margin-right: 4%}
 .form-section-tow{ width:48%; float: left; }
 .form-section-tow.w1{ width: 8%;}
 .form-section-tow.w2{ width: 18%;}
 .form-section-tow.w3{ width: 28%;}
 .form-section-tow.w4{ width: 38%;}
 .form-section-tow.w5{ width: 48%;}
 .form-section-tow.w6{ width: 58%;}
 .form-section-tow.w7{ width: 68%;}
 .form-section-tow.w8{ width: 78%;}
 .form-section-tow.w9{ width: 88%;}
 .form-section-tow.w10{ width: 100%;}

/* placeholder */
.form-section .placeholder::-webkit-input-placeholder { color:#FFF; }
.form-section .placeholder::-moz-placeholder { color:#FFF; }
.form-section .placeholder:-ms-input-placeholder { color:#FFF; }
/* placeholder end */

.form-active.hover{ border-color: #AAA;}
.form-active.focus { border-color: #09F;}
.form-active.focus  .input-label{ border-color: #09F; color: #09F;}
.form-active.active .input-label{ top: -10px;background: #FFF;}

/* placeholder active */
.form-active.active .input::-webkit-input-placeholder { color:#CCC; -webkit-transition: all 0.4s linear;transition: all 0.4s linear;}
.form-active.active .input::-moz-placeholder { color:#CCC; -webkit-transition: all 0.4s linear;transition: all 0.4s linear;}
.form-active.active .input:-ms-input-placeholder { color:#CCC; -webkit-transition: all 0.4s linear;transition: all 0.4s linear;}
/* placeholder active end */
/* regbox end */


.form-loo input.input{vertical-align: middle; width: auto;}


body .form-section input.input{ *padding: 0px; *width: 95%; *padding-left: 5%;}
body .form-section select.input{ *padding: 0px; *width: 100%; }
body .form-section textarea.input{ *padding: 0px; *width: 90%; *padding-left: 5%; * padding-right: 5%;}
body .form-loo input.input{*width: 70%;}







/**
 * addHouse & editHouse
 */
.form-house{ padding: 10px;}
.form-house table td{ padding: 0 10px; vertical-align: top;}
.form-house .btn{ height: 36px; line-height: 36px;}






