<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>zhongbang</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  	<listener>
	    <listener-class>com.youwei.zjb.StartUpListener</listener-class>
	</listener>
	
  	<servlet>
        <servlet-name>grand</servlet-name>
        <servlet-class>com.youwei.zjb.GrandServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>grand</servlet-name>
	    <url-pattern>/c/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
        <servlet-name>view</servlet-name>
        <servlet-class>com.youwei.zjb.ViewServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>view</servlet-name>
	    <url-pattern>/v/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
        <servlet-name>fileup</servlet-name>
        <servlet-class> com.youwei.zjb.files.FileUploadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>fileup</servlet-name>
	    <url-pattern>/file/upload/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
        <servlet-name>filedown</servlet-name>
        <servlet-class> com.youwei.zjb.files.FileDownloadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>filedown</servlet-name>
	    <url-pattern>/file/download/*</url-pattern>
	</servlet-mapping>
	
</web-app>